@use 'sass:list';
@use '../abstracts' as *;

:root {
  --section-spacing: 3.5rem;
  --border-radius: 1.25rem;

  @each $color, $value in $colors {
    --clr-#{""+$color}: #{'' + $value};
  }

  @each $size, $property in $type-scale {
    --fs-#{$size}: #{fluid(list.nth($property, 1), list.nth($property, 2))};
  }

  @each $size, $property in $spacing {
    --spacer-#{$size}: #{fluid(list.nth($property, 1), list.nth($property, 2))};
  }

  --darken-mix: var(--clr-black);
  --lighten-mix: var(--clr-white);
  --hover-darken: color-mix(in lab, currentColor 70%, var(--darken-mix));
  --hover-lighten: color-mix(in lab, currentColor 70%, var(--lighten-mix));
}
