header {
  display: flex;
  justify-content: space-between;
  background-color: var(--clr-accent);
  .headerwrap {
    a {
      display: flex;
      text-decoration: none;
      h1 {
        margin: auto 10px;
      }
      img {
        max-width: 150px;
      }
    }
  }
}